

div.flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5em;

    /*mat-icon {
        $size: 32px;
        font-size: $size;
        width: $size;
        height: $size;
    }*/
}