<nav>
    <div class="logo">
        <img src="assets/icons/icon-96x96.png" alt="logo">
    </div>

    <div class="menu">
        <ul>
            <li routerLinkActive="active"><a routerLink="/home/green">Green Plants</a></li>
            <li routerLinkActive="active"><a routerLink="/home/indor">Indor Plant</a></li>
            <li routerLinkActive="active"><a routerLink="/home/shape">Shape Close</a></li>
            <div class="marker">
                <img src="assets/svg/slider.png" alt="slider">
            </div>
        </ul>
    </div>

    <div class="home button" routerLinkActive="active">
        <a routerLink="/home">
            <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Home">home</mat-icon>
        </a>
    </div>
</nav>
