@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

nav {

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    
    background-color: var(--color-primary);
    z-index: 1;

    font-family: 'Lato', 'Roboto', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.0125em;

    color: white;

    div.logo { 
        margin-block: 1em;

        img {
            width: 32px;
            height: 32px;
        }
    }

    mat-icon {
        color: white;
    }

    div.home {
        margin-block: 1em;
    }

    div.menu ul {

        list-style: none;
        padding: 0px;
        position: relative;
        padding-inline: 1rem 1.5rem;

        li {

            margin-bottom: 0.5em;
            transform: rotateZ(180deg);

            a {
            
                color: white;
                text-decoration: none;
                writing-mode: vertical-lr;
            }

        }
        
    }

    div.marker {
        position: absolute;
        right: -0.5px;
        top: 0px;
        transition: 0.5s;
        transform: translate(0px, calc(-100vh));

        img {
            width: 20px;
            height: auto;
            filter: drop-shadow(-2px 6px 8px hsla(0, 0%, 0%, 0.5));
            -webkit-filter: drop-shadow(-2px 2px 15px hsla(0, 0%, 0%, 0.5));
            clip-path: polygon(-100% -100%, 100% -100%, 100% 200%, -100% 200%);
        }
    }
}


/* Marker Movement */

ul > li:nth-child(1).active ~ div.marker {
    transform: translate(0px, calc(2em));
}